* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans', sans-serif;
}


h3 {
    text-align: center;
    margin-top: 2em;
    background-color: wheat;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid black;
}

  
  .cartProducts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 20px;
    
    
  }
  
  .cart-listing {
    width: 15vw;
    height: 40vh auto;
    margin: 20px 25px 5px;
    display: block;
    padding: 10px;
    border: solid black 2px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border-radius: 30px;
  }

  .cart-total-number {
    background-color: wheat;
    border: 2px solid black;
    padding: 7px;
  }
  
  .listing-photo {
    height: 20vh auto;
    width: 25vh;
    border: solid black 2px;
  }
  
  .listingtitle {
    margin-top: 2em;
    display: block;
    
  }
  
  .listingprice {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .single-product-btn {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    background-color: red;
    color: white;
    font-size: 15px;
    
    
  }

  .checkout-btn {
    display: block;
    padding: 10px 10px;
    color: white;
    background-color: red;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;
    
  }

  .cart-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;

  }

  