@import url(https://fonts.googleapis.com/css?family=Rubik+Dirt);

* {
  box-sizing: border-box;
}

:root {
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #e8e8e8;
}
