* {
    box-sizing: border-box;
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  font-size: 32px;
}
  
  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100vw;
    background-color: tan;
  }
  
  #logo {
    text-decoration: none;
    font-size: 40px;
    width: 200px;
    color: black;
    font-family: 'Rubik Dirt';
  }
  
  
  #searchbar {
    height: 32px;
    font-size: 24px;
    width: 30vw;
    margin-right: 5vw;
    margin-left: 5vw;
  }
  
  #navbar > button {
    height: 32px;
    width: 100px;
    font-size: 20px;
    
  }
  
  #navbar > button:hover {
    cursor: pointer;
  }
  
  .navbar-button {
    width: 100px;
    margin-right: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  .navbar-button:hover {
    cursor: pointer;
  }
  
  #profile-dropdown {
    display: block;
    width: 100px;
    position: fixed;
    right: 19em;
    padding: 5px;
    background-color: tan;
  }
  
  #cart-dropdown {
    display: flex;
    width: 100px;
    color: black;
    position: fixed;
    right: 27em;
    padding: 5px;
    flex-direction: column;
    border: solid black 2px;
    background-color: white;
  }
  
  