* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'PT Sans', sans-serif;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* background: url(https://i.pinimg.com/originals/4e/94/7a/4e947afe00fb849dd5796dcf5f63d9e6.jpg) center center/cover no-repeat; */
  
  
}

.listing {
  width: 20vw;
  height: 40vh auto;
  margin: 20px 25px 5px;
  display: block;
  padding: 10px;
  border: solid black 2px;
  font-size: 20px;
  background-color: white;
  border-radius: 30px;
}

.listing-photo {
  height: 20vh;
  width: 30vh;
  border: solid black 2px;
}

/* .listingtitle {
  margin: 0;
  display: block;
  
} */


.listingprice {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-btn {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  display: inline;
  margin-top: 5px;
  margin-left: 10px;
  background-color: red;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.product-btn:hover {background-color: #9b3838}

.product-btn:active {
  background-color: #8e3e3e;
  transform: translateY(2px);
}