.listing {
  width: 20vw;
  height: 40vh;
  margin-bottom: 12px;
  display: block;
  float: right;
  padding: 10px;
  border: solid black 2px;
  font-size: 27px;
}

.listing-photo {
  height: 20vh;
  width: 15vh;
  border: solid black 2px;
}

.listing > span {
  margin-bottom: 15px;
  display: block;
  
}
/* .movelisting {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
} */