* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'PT Sans', sans-serif;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* margin-right: 20px;
  margin-left: 20px; */
  justify-content: center;
  background: url(https://i.pinimg.com/originals/4e/94/7a/4e947afe00fb849dd5796dcf5f63d9e6.jpg) center center/cover no-repeat;
  
  
}

.listing {
  width: 20vw;
  height: 40vh auto;
  margin: 20px 25px 5px;
  display: block;
  padding: 10px;
  border: solid black 2px;
  font-size: 20px;
  background-color: white;
}

.listing-photo {
  height: 20vh;
  width: 15vh;
  border: solid black 2px;
}

.listingtitle {
  /* margin: 50px 20px 20px 20px; */
  /* margin: 50px auto; */
  margin-top: 7em;
  display: block;
  
}

.listingprice {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-btn {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  display: block;
  margin-top: 5px;
  background-color: red;
  color: white;
  font-size: 15px
}