* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans', sans-serif;
  }

.single-product {
    display: block;
    padding: 75px;
    margin: 5em auto;
    text-align: center;
    
}

h3.single-product-price {
    border: none;
}

.image {
    float: left;
    margin-left: 5em;
    width: 40%;
    border: 4px solid black;
    border-radius: 30px;
}

h1 {
    margin-block-end: 0.67em;
    text-decoration: underline;
}

.single-product-info {
    background-color: wheat;
    margin-left: 50em;
    border: 4px solid black;
    border-radius: 30px;
}